<?xml version="1.0" encoding="UTF-8" ?>
<Configuration xmlns="http://logging.apache.org/log4j/2.0/config" status="WARN">
    <Appenders>
        <TerminalConsole name="Console">
            <PatternLayout>
                <LoggerNamePatternSelector defaultPattern="[%d{HH:mm:ss}] [%t/%highlight{%level}][%logger]: %msg%n">
                    <PatternMatch key="org.rainyville.ha03"
                                  pattern="[%d{HH:mm:ss}] [%t/%highlight{%level}]: %msg%n"/>
                </LoggerNamePatternSelector>
            </PatternLayout>
        </TerminalConsole>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>